@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.ProfilePageBody {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 255, 0.5),
      rgba(0, 128, 0, 0.5)
    ),
    url(./Profile_background_img.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProfilePageBody #header {
  width: 60vw;
  max-width: 450px;
  min-width: 300px;
  height: 170px;
  background: url(./Profile_background_img.jpg);
  background-size: cover;
  background-position: center center;
  transition: all 0.08s linear;
}
.ProfilePageBody #profile {
  width: 60vw;
  max-width: 450px;
  min-width: 300px;
  height: 210px;
  background: white;
  position: relative;
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 25px;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
}
.ProfilePageBody #profile .image {
  position: absolute;
  border: 3px solid white;
  top: -55px;
  left: 20px;
  height: 80px;
  width: 80px;
  border-radius: 10px;
}
.ProfilePageBody #profile .image img {
  width: inherit;
  height: inherit;
  border-radius: 8px;
}
.ProfilePageBody #profile .name {
  font-size: 1.3rem;
  font-weight: 500;
  color: #444;
}
.ProfilePageBody #profile .nickname {
  color: #888;
  font-size: 0.9rem;
  padding-bottom: 7px;
  padding-top: 2px;
}
.ProfilePageBody #profile .location {
  color: #555;
  font-size: 0.9rem;
  padding-left: 0px;
  position: relative;
  left: -5px;
}
.ProfilePageBody #profile .location .material-icons {
  position: relative;
  top: 3px;
  font-size: 1rem;
}
.ProfilePageBody .shadow {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}
.ProfilePageBody .overflow {
  overflow: hidden;
}

.ProfilePageBody .button-container {
  margin-top: 30px;
  width: 100%;
}
.ProfilePageBody .button-container .left {
  float: left;
  width: 200px;
}
.ProfilePageBody .button-container .right {
  float: right;
  width: 150px;
  margin-right: 20px;
}

@media (max-width: 1000px) {
  .ProfilePageBody .button-container .left {
    float: center;
    width: 200px;
  }
  .ProfilePageBody .button-container .right {
    float: left;
    width: 150px;
    margin-top: 18px;
  }
  .ProfilePageBody #header {
    height: 200px;
  }
  .ProfilePageBody #profile {
    height: 240px;
  }
  .ProfilePageBody .button-container {
    margin-top: 10px;
  }
}
